/* Common */

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

/* Nav */

.logo-nav {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.logo-dark-studio {
    color: #2E2F42;
}

.nav-menu {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.nav-menu:hover,
.nav-menu:focus {
    color: #404BBF;
}

.nav-address {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    font-style: normal;
}

.nav-address:hover,
.nav-address:focus {
    color: #404BBF;
}

/* Hero */

.hero-section {
    background-color: #2E2F42;
}

.hero-title {
    font-size: 56px;
    line-height: 107%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}

.hero-btn {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404BBF;
}

/* Benefits */

.section-title {
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.benefits-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.benefits-text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

/* Team */

.team-section {
    background-color: #F4F4FD;
}

.team-list-item {
    background-color: #FFFFFF;
}

.team-name-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
}

.team-position-title {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
}

/* Footer */

.logo-white-studio {
    color: #F4F4FD;
}

.footer-cta-text {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

.website-footer {
    background-color: #2E2F42;
}